<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Connexion</title>
    </head>
    <body>
        <% if (typeof(lesSondages) !== "undefined") { %>
            <h1>Choisissez un sondage : </h1>
            <% for(var i = 0 ; i < lesSondages.length ; i++) { %>
                <li><a href="/sondages/<%= lesSondages[i].id_sondage %>/admin"><%= lesSondages[i].libelle_sondage %></a></li>
            <% } %>
        <% } else if (typeof(leSondage) !== "undefined") { %>
            <p>En attente des participants</p>
        <% } else { %>
            <form method="get" action="/sondages/admin">
                <button type="submit" id="sondage">voir les songades</button>
            </form>
            <form method="get" action="/sondages/creation">
                <button type="submit" id="creer">Nouveau sondage</button>
            </form>
        <% } %>
    </body>
</html>