<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Nouveau sondage</title>
    </head>
    <body>
        <form method="get" action="/sondages/creation/nouveau">
            <button type="submit" id="sondage">voir les songades</button>
        </form>
    </body>
</html>
