<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nouveau sondage</title>
    <script src="/helpers/Form.js"></script>
</head>
    <body>

    <div id="corps" class="w3-container" style="width:90%">
        <div id="entete">
            <p><input placeholder="Nom du sondage" class="w3-input w3-border" type="text" id="nom" name="nom" autocomplete="off" required /></p>
        </div>
        <div id="squellette">
            <button id="AjoutQuestion" class="w3-button w3-dark-grey" type="button" onclick="AjoutQuestion()"> Ajout Question </button>
            <hr>
            <button id="envoie" class="w3-button w3-dark-grey" type="button" value="Submit" onclick="insertSondage()">Creer le sondage</button>
        </div>
    </div>


    <!---->
        <!--<form method="get" action="/sondages/creation/nouveau">-->
            <!---->
            <!--<button type="submit" id="sondage">voir les songades</button>-->
        <!--</form>-->
    </body>
</html>