<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Etudiant</title>
</head>
<body>
    <% if (typeof(lesEnseignants) !== "undefined") { %>
        <h3>Choisissez l'enseignant responsable du sondage : </h3>
        <% for(var i = 0 ; i < lesEnseignants.length ; i++) { %>
            <li><a href="/enseignant/<%= lesEnseignants[i].id_enseignant %>/etudiant"><%= lesEnseignants[i].nom_enseignant %></a></li>
        <% } %>
    <% }else { %>
        <form method="get" action="/sondages/liste" onsubmit="emitData()">
            <input id="name" type="text" id="nomEtudiant" value="" placeholder="Entrez votre nom"/>
            <input type="submit" id="sondage" value="Valider">
        </form>
    <% } %>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="/jquery/jquery.js"></script>
<script>
    var socket = io.connect('http://localhost:8080');
    function emitData() {
        socket.emit('setUserData', {name: $('#name').val()});
    }
</script>
</html>